<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
<section class = "principal1">

<div class="container">
    <img src ="/imagenes/frutas1.png"/>
    <h1 class = "titulogrande">Fruteria doña Angela</h1>
    <h3 class = "tpequeño">

        Acceso a la informacion de la pagina de la empresa
    </h3>


    <div class="container" >
        <div class="center">
            <button class="btn">
                <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                </svg>
                <span>Ingresar a la plataforma</span>
            </button>
        </div>
    </div>

    <div class="container">
        <div class="center">
            <button class="btn">
                <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                </svg>
                <span>Usuario nuevo</span>
            </button>
        </div>
    </div>
    </div>


</section>

<a href="/pagina2">Ir a la pagina 2</a>
</body>
</html>