<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport"º
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Resultado Busqueda</title>
</head>
<body>




<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">BD de Empleados</h4>
      </div>
      <div>
        <hr>

        </hr>
        <a href="/paginaEmpresa">
          <button type="button" class="btn btn-outline-success">Volver a la BD Empresas</button>
        </a>
        <hr></hr>
        <h3 class="my-0 font-weight-normal">Todos los Empleados registrados</h3>

        <hr></hr>
      </div>

        <div th:each="itemE : ${empresas}" class="card">
        <div class="card-body">
        <h5></h5>
        <hr></hr>
        </div>
        </div>
      </div>

    </div>
  </div>
</div>








<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>