<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>BD Empleados</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">BD de Empleados</h4>
      </div>
      <div>
        <hr>

        </hr>
        <a href="/">
          <button type="button" class="btn btn-outline-success">Ver todos las Empleados registrados</button>
        </a>
        <hr></hr>
        <a href="/">
          <button type="button" class="btn btn-outline-success">Ver un empleado de la empresa </button>
        </a>
        <h5> Ingrese el ID de la empresa =</h5> <input type="text" placeholder="Ingrese el idEmpleado"/>

        <hr></hr>

        <a href="/">
          <button type="button" class="btn btn-outline-success">Crear un empleado en la BD</button>
        </a>

        <hr></hr>
        <a href="/">
          <button type="button" class="btn btn-outline-success">Actualizar empleado</button>
        </a>
        <h5> Ingrese el ID del empleado =</h5> <input type="text"  style="width: 250px" placeholder="Ingrese el idEmpleado a actualizar"/>
        <hr></hr>
        <a href="/">
          <button type="button" class="btn btn-outline-success">Borrar una empleado</button>
        </a>
        </a>
        <h5> Ingrese el ID del empleado a eliminar =</h5> <input type="text"  style="width: 250px" placeholder="Ingrese el idEmpleado a eliminar"/>
        <hr></hr>

      </div>
    </div>
  </div>
</div>








<a href="/pagina3">
  <h5 align="center"> Volver al menu </h5>
</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>

</html>