<!doctype html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Sobre nosotros</title>
</head>
<body>


<div>

    <h2>
        <img src = "/imagenes/frutas1.png" width="5%" height="5%" style="float:right" >
        Sobre Nosotros
    </h2>
</div>
<h2>_________________</h2>

<div class="bg-image hover-zoom">
<img src="/imagenes/frutas3.jpg" class="w-80" width="40%" height="40%"/>
</div>



<h5>Somos ena empresa dedicada a la comercialización de frutas y verduras desde el año 2022.</h5>
<h5>Nuestro proposito es llegar a todas las ciudades del pais, con calidad y excelencia</h5>

<div class="container111" >
    <div class="center111">
        <a href="/">
            <button class="btn111">
                <svg width="240px" height="60px" viewBox="0 0 180 60" class="border">
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line111" />
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line111" />
                </svg>

                <span>Volver a la página principal de BD</span>
            </button>
        </a>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>